.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 39px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;

}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: rgb(249, 248, 248);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active {
    color: aqua;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    background-image: url("light.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1{
    color: white;
    margin-top: 10%;
    margin-left: 10%;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
    color: aqua;
    margin-left: 10%;
}
p{
    color: white;
    line-height: 1.5;
    margin-left: 10%;
    font-weight: bold;
}
@media screen and (min-width: 80px) and (max-width:950px){
   
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        padding: 10px 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 50;
    }
    
    .logo {
        position: relative;
        font-size: 19px;
        color: aqua;
        text-decoration: none;
        font-weight: 300;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
    
    }
    
    .logo::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 50%;
        animation: showRight 1s ease forwards;
        animation-delay: .20s;
    }
    
    .navbar a {
        font-size: 8px;
        color: rgb(249, 248, 248);
        text-decoration: none;
        font-weight: 200;
        margin-left: 17px;
    }
    
    .navbar a:hover,
    .navbar a.active {
        color: aqua;
    }
    * {
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif; 
    }
    body{
        background-image: url("light.jpg");
        background-size: cover;
        width: 50%;
        height: 50%;
    }
    h1{
        color: white;
        margin-top: 50%;
        margin-left: 5%;
        font-style: italic;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
    }
    h3{
        color: aqua;
        margin-left: 5%;
    }
    p{
        color: white;
        line-height: 1.5;
        margin-left: 5%;
        font-weight: bold;
    }
}